a {
    color: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  p {
    padding: 0;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
    margin: 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  button {
    border: none;
  }


.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 35px;
    background: none;
    border-radius: 3px;
    cursor: none;
}