<!DOCTYPE html>
<html>
<head>
    <title>My Flask App</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="register-header">
   <div class="container">
        <form  action="{{ url_for('check_login') }}" method="POST" class="form">
            <h2>Log in to an Account</h2>

            {% if out_put %}
            <p class="error-message">{{ out_put }}</p>
            {% endif %}

            <div class="input-box">
                <input placeholder="Enter username"  type="text" name="name" required>
             </div>

            <div class="input-box">
                <input placeholder="Enter password" type="password" name="password"  required>
              
            </div>

            <button type="submit">Log in</button>
            
            <p class="login-link">
                Don't have an account? <a href="{{ url_for('home') }}">Sign up</a>
            </p>
        </form>
    </div>
    </header>
</body>
</html>
