<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="stats-header">
        <div class="container">
            <h1>Make your player</h1>
        </div>
    </header>

    <main class="stats-main">
        <form action="/stats">
            <div class="slides">
                <svg class="slide active">
                    <use href="{{ url_for('static', filename='img/symbol-defs.svg') }}#icon-person"></use>
                </svg>

                <svg class="slide">
                    <use href="{{ url_for('static', filename='img/symbol-defs.svg') }}#icon-person"></use>
                </svg>

                <svg class="slide">
                    <use href="{{ url_for('static', filename='img/symbol-defs.svg') }}#icon-person"></use>
                </svg>
            </div>
        </form>

        <button class="prev">❮</button>
        <button class="next">❯</button>

    </main>

    <script type="module" src="{{ url_for('static', filename='stats.js') }}"></script>
</body>
</html>