<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stats.css') }}">
</head>
<body>
    <header class="stats-header">
        <div class="container">
            <h1 class="stat">Make your player</h1>
        </div>
    </header>

    <main class="stats-main">

        <div class="slides">

            <svg class="slide active"
                data-hp="30" data-damage="30" data-armor="10" data-stamina="40" data-evade="50"
                data-class="Person">
                <use href="{{ url_for('static', filename='img/symbol-defs.svg') }}#icon-person"></use>
            </svg>

            <svg class="slide"
                data-hp="60" data-damage="30" data-armor="40" data-stamina="20" data-evade="10"
                data-class="Knight">
                <use href="{{ url_for('static', filename='img/symbol-defs.svg') }}#icon-knight"></use>
            </svg>

            <svg class="slide"
                data-hp="50" data-damage="40" data-armor="20" data-stamina="30" data-evade="40"
                data-class="Hunter">
                <use href="{{ url_for('static', filename='img/symbol-defs.svg') }}#icon-hunter"></use>
            </svg>

            <svg class="slide"
                data-hp="30" data-damage="60" data-armor="10" data-stamina="30" data-evade="30"
                data-class="Alchemist">
                <use href="{{ url_for('static', filename='img/symbol-defs.svg') }}#icon-alchemist"></use>
            </svg>

            <svg class="slide"
                data-hp="40" data-damage="60" data-armor="10" data-stamina="20" data-evade="20"
                data-class="Wizard">
                <use href="{{ url_for('static', filename='img/symbol-defs.svg') }}#icon-wizard"></use>
            </svg>

        </div>

        <!-- 💬 ВОТ ЭТО ДОБАВЛЕНО -->
        

        <button class="prev">❮</button>
        <button class="next">❯</button>
    </main>
            <div class="class-text" id="classText">Person</div>

<div class="big-stats-box">
    <div class="stats-columns">

        <div class="left-column">

            <h3 class="stats-name">Health</h3>
            <div class="slider-box">
                <input type="range" class="range" min="0" max="100" value="{{ hp }}" name="hp">
                <div class="value-inside">{{ hp }}</div>
            </div>

            <h3 class="stats-name">Damage</h3>
            <div class="slider-box">
                <input type="range" class="range" min="0" max="100" value="{{ damage }}" name="damage">
                <div class="value-inside">{{ damage }}</div>
            </div>

            <h3 class="stats-name">Armor</h3>
            <div class="slider-box">
                <input type="range" class="range" min="0" max="100" value="{{ armor }}" name="armor">
                <div class="value-inside">{{ armor }}</div>
            </div>

            <h3 class="stats-name">Stamina</h3>
            <div class="slider-box">
                <input type="range" class="range" min="0" max="100" value="{{ stamina }}" name="stamina">
                <div class="value-inside">{{ stamina }}</div>
            </div>

            <h3 class="stats-name">Evade</h3>
            <div class="slider-box">
                <input type="range" class="range" min="0" max="100" value="{{ evade }}" name="evade">
                <div class="value-inside">{{ evade }}</div>
            </div>

        </div>

        <div class="right-column">
            <form action="/stats" method="POST" class="form">

                <input placeholder="Nickname" type="text" name="char_name" required>

                <!-- hidden input for class -->
                <input type="hidden" name="class" id="class-field">

                <input type="hidden" name="hp">
                <input type="hidden" name="damage">
                <input type="hidden" name="armor">
                <input type="hidden" name="stamina">
                <input type="hidden" name="evade">

                <button class="start-game-btn">Play</button>
            </form>
        </div>

    </div>
</div>

<script>
    let selectedClassName = document.querySelector(".slide.active").dataset.class;
</script>

<script type="module" src="{{ url_for('static', filename='stats.js') }}"></script>
</body>
</html>
