<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stats.css') }}">
</head>
<body>
    <header class="stats-header">
        <div class="container">
            <h1 class="stat">Make your player</h1>
        </div>
    </header>

    <main class="stats-main">
        <div class="slides">

        <svg class="slide active"
            data-hp="30" data-damage="30" data-armor="10" data-stamina="40" data-evade="50">
            <use href="{{ url_for('static', filename='img/symbol-defs.svg') }}#icon-person"></use>
        </svg>

        <svg class="slide"
            data-hp="60" data-damage="30" data-armor="40" data-stamina="20" data-evade="10">
            <use href="{{ url_for('static', filename='img/symbol-defs.svg') }}#icon-knight"></use>
        </svg>

        <svg class="slide"
            data-hp="50" data-damage="40" data-armor="20" data-stamina="30" data-evade="40">
            <use href="{{ url_for('static', filename='img/symbol-defs.svg') }}#icon-hunter"></use>
        </svg>

        <svg class="slide"
            data-hp="30" data-damage="60" data-armor="10" data-stamina="30" data-evade="30">
            <use href="{{ url_for('static', filename='img/symbol-defs.svg') }}#icon-alchemist"></use>
        </svg>

        <svg class="slide"
            data-hp="40" data-damage="60" data-armor="10" data-stamina="20" data-evade="20"> 
            <use href="{{ url_for('static', filename='img/symbol-defs.svg') }}#icon-wizard"></use>
        </svg>

    </div>
        

        <button class="prev">❮</button>
        <button class="next">❯</button>
    </main>
    <div class="line">

            <h3 class="stats-name">Health</h3>
    <div class="slider-box">
        <input type="range" class="range" min="0" max="100" value="0" name="hp">
        <div class="value-inside">0</div>
        
    </div>
<h3 class="stats-name">Damage</h3>
    <div class="slider-box">
        <input type="range" class="range" min="0" max="100" value="0" name="damage">
        <div class="value-inside">0</div>
    </div>
<h3 class="stats-name">Armor</h3>
    <div class="slider-box">
        <input type="range" class="range" min="0" max="100" value="0" name="armor">
        <div class="value-inside">0</div>
    </div>
    <h3 class="stats-name">Stamina</h3>
    <div class="slider-box">
        <input type="range" class="range" min="0" max="100" value="0" name="stamina">
        <div class="value-inside">0</div>
    </div>
<h3 class="stats-name">Evade</h3>
    <div class="slider-box">
        <input type="range" class="range" min="0" max="100" value="0" name="evade">
        <div class="value-inside">0</div>
    </div>


    <script type="module" src="{{ url_for('static', filename='stats.js') }}"></script>
</body>
</html>